<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="chrome" ></parameter>
    <classes>
      <class name="com.saucedemoTESTclasses.TC03VerifyBagProductTestClass"/>
      <class name="com.saucedemoTESTclasses.TC04VerifyMutipleProdAddToCartTestClass"/>
      <class name="com.saucedemoTESTclasses.TC02VerifyLogoutTestClass"/>
      <class name="com.saucedemoTESTclasses.TC01VerifyLoginTestClass"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
